.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .cube {
    width: 200px;
    height: 200px;
    background-color: gray;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000;

    h2 {
      font-size: 24px;
    }
  }
}